@import "./typography.css";

@layer utilities {
    .btn {
        font-family: var(--font-primary);
        font-weight: var(--font-weight-medium);
        text-align: center;
        transition: all 0.3s ease;
        width: fit-content;
        padding: 24px 12px;
        border-radius: 8px;
        font-size: 24px;
    }

    .btn-topMenu {
        background-color: var(--color-sky-blue);
        color: white;
        padding: 20px 32px;
        font-size: 20px;
        border: 4px solid transparent;
    }

    .btn-topMenu:hover {
        background-color: var(--color-ocean-blue);
        border-bottom: 4px solid white;
    }

    .btn-info {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        text-shadow:
            0 2px 4px rgba(0, 0, 0, 0.4),
            0 4px 10px rgba(0, 0, 0, 0.5),
            0 6px 15px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

    .btn-info:hover {
        background-color: white;
        color: var(--color-ocean-blue);
        border-color: var(--color-ocean-blue);
        box-shadow: none;
        text-shadow: none;
    }

    .btn-callAction {
        background-color: black;
        color: white;
        border: 1px solid black;
    }

    .btn-callAction:hover {
        background-color: white;
        color: black;
    }

    .btn-disabled {
        background-color: black;
        color: white;
        border: 1px solid black;
        cursor: not-allowed;
        opacity: 0.6;
    }

    .btn-ico {
        background-color: transparent;
        font-family: var(--font-secondary);
        font-weight: var(--font-weight-bold);
        color: white;
        font-size: 40px;
        border: 1px solid transparent;
        padding: 30px 45px 0px 0px;
        position: relative;
    }

    .icon-container {
        position: absolute;
        top: -40px;
        right: -60px;
    }
}